@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: #fcfcfc;
    color: black;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(255,255,255,0.7);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: black;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover{
    transform: scale(1.1);
}

span{
    color: #ff154c;
}

.navbar a{
    font-size: 1.8rem;
    color: black;
    margin-left: 4rem;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active{
    color: #ff154c;
    border-bottom: 3px solid #ff154c;
}

#menu-icon{
    font-size: 3.6rem;
    color: #ff154c;
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 10rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}


.home-circle-1{
    position: absolute;
    background-color: #ff154c;
    border-radius: 50%;
    height: 30vw;
    width: 30vw;
    bottom: 10rem;
    right: 0;
    z-index: -1;
}

.home-circle-2{
    position: absolute;
    background-color: #ff154c;
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
    margin: 0 auto;
    top: 0;
    right: 50px;
    z-index: -1;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
    font-size: 5rem;
}

.home-content h1{
    font-size: 8rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img{
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 20px solid #ff154c;
}

.home-img img{
    position: relative;
    background-color: white;
    border: 30px solid white;
    width: 32vw;
    border-radius: 50%;
    cursor: pointer;
}

.home-content p{
    font-size: 1.8rem;
    font-weight: 500;
    max-width: 650px;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent ;
    font-size: 2.5rem;
    border: 0.2rem solid #ff154c;
    border-radius: 50% ;
    color: #ff154c;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-icons a:hover{
    background: #ff154c;
    color: white;
    transform: scale(1.3)translateY(-5px);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #ff154c;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: white;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    background: transparent;
    color: #ff154c;
    border: 2px solid #ff154c;
    transform: scale(1.05);
}
 
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: #fff4f4;

}

.about-circle{
    position: absolute;
    left: -150px;
    margin-top: 15rem;
    height: 40vw;
    width: 40vw;
    border-radius: 50%;
    background-color: #ff154c;

}

.about-img{
    border-radius: 50%;
    display: grid;
    place-items: center;
    border: 20px solid #ff154c;
}

.about-img img{
    position: relative;
    width: 30vw;
    border-radius: 50%;
    border: 50px solid white;
    cursor: pointer;

}

.heading{
    text-align: center;
    font-size: 8rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.5;
}

.about-content h3{
    font-size: 2.5rem ;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem ;
}

.timeline-section{
    min-height: 100vh;
    padding: 100px 15px;
    background: #fcfcfc;
}

.timeline-section h2{
    margin-bottom: 5rem;
}

.timeline-items{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;

}

.timeline-items::before{
    content: " ";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #ff154c;
    left: calc(50% - 1px);
}

.timeline-item{
    margin-bottom:40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child{
    margin-bottom: 0;
}

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.timeline-dot{
    height:21px ;
    width: 21px ;
    background-color: #ff154c;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
}


.timeline-content{
    background-color: #ff154c;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255,255,255,0.25);
    padding: 30px;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.timeline-content:hover{
    transform: scale(1.05);
}

.timeline-content h3{
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    text-transform: capitalize;
    font-weight: 500;
}

.timeline-content p{
    color: white;
    opacity: 0.8;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.services h2{
    margin-bottom: 8rem;
}

.service-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.service-container .services-box{

    flex: 1 1 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white ;
    padding: 3rem 2rem 4rem;
    height: 500px;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid rgb(224,224,224);
    cursor: pointer;
    transition: 0.4s ease;
}

.service-container .services-box:hover{
    border-color: #ff154c;
    transform: scale(1.02);
    background-color: white;
    color: black;
}

.services-box i{
    font-size: 7rem;
    margin-bottom: 2rem;
    color: #ff154c;
}

.services-box h3{
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: #ff154c;
}


::-webkit-scrollbar-track{
    background-color: white;
    width: 50px;
}

.contact{
    background-color: #fff4f4;
}

.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.contact form .input-box input,
.contact form textarea{
    width:  100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: black;
    background: #fcfcfc;
    border-radius: 0.8rem;
    border: 2px solid #ff154c;
    margin: 1rem 0;
    resize: none;
}

.contact  form .btn {
    margin-top:  2rem;
}
   
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: #ff154c;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px ;
    color: white;
}

footer .social a{
    font-size: 25px;
    color: white;
    border: 2px solid white;
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}

footer .social a:hover{
    transform: scale(1.2) translateY( -10px);
    background-color: white;
    color: #ff154c;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent ;
    transition: 0.3s ease;
}

.footer ul li a:hover{
    border-bottom: 3px solid white;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: white;

}

@media(max-width:1200px){
    html{
        font-size: 55%;
    }
    
    .home-circle-1{
        bottom: 20rem;
        width: 30vw;
        height: 30vw;
    }

    .home-circle-2 {
        top: 20rem;
        width: 30vw;
        height: 30vw;
    }

}



@media(max-width:895px){
    #menu-icon{
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 1;
        
    }
    .navbar{
        position: absolute;
        top: 0;
        right: -10px;
        width: auto;
        padding: 1rem 1rem;
        background: white;
        border-left:  2px solid #ff154c;
        border-bottom:  2px solid #ff154c;
        border-bottom-left-radius: 2rem;
        display: none;

    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        color: black;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .navbar a:hover{
        color: black;
    }
    .home{
        flex-direction: column-reverse;
        margin: 5rem 4rem;
    }

    .home-circle-1{
        width: 45vw;
        height: 45vw;
        top: 50rem;
    }

    .home-circle-1{
        width: 55vw;
        height: 55vw;
        top: 10rem;
    }

    .home-img{
        display: grid;
        border: none;
        border-radius: 50%;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-circle-1 h1{
        font-size: 5rem;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
        border: 25px solid #ff154c;
    }
    .about{
        flex-direction: column-reverse;

    }
    .about-circle{
        height: 52vw;
        width: 52vw;
    }
    .about-content{
        margin: 1rem 4rem;
    }
    .about-img{
        border: none;
    }

    .about img{
        width: 70vw;
        margin-top: 1rem;
        border: none;
        margin-bottom: 3rem;
        border: 25px solid #ff154c;
    }

    .services{
        flex-direction: column;
        gap: 2rem;
    }

   .services h2{
    margin-bottom: 3rem;
   }

   .timeline-items::before{
    left: 7px;
   }

   .timeline-item:nth-child(odd){
    padding-right: 0;
   }

   .timeline-item:nth-child(odd),
   .timeline-item:nth-child(even){
    padding-left: 37px;
   }

   .timeline-dot{
    left: 0;
   }

}

